<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login Success</title>
</head>
<body>
{% include "./menu_bar.html" %}
Приевет {{ user_name }}, ваши имя пользователя и пароль корректны.
<br><br><br>
<a href="/riddles">Начать игру в загадки.</a><br/>

</body>
</html>