<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная регистрация</title>
</head>
<body>
{% include "./menu_bar.html" %}
Привет {{ user_name }}, вы успешно зарегистрированы.<br/>
Имя пользователя : {{ user_name }}<br/>
Пароль : {{ user_password }}<br/>
Email : {{ user_email }}<br/>
</body>
</html>