<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login Page</title>
</head>
<body>
{% include "./menu_bar.html" %}
<h3>Введите имя пользователя и пароль</h3>
<form method="post" action="/user/do_login/">
    {% if error_message %}
          <font color="red">{{ error_message }}</font><br/>
    {% endif %}
    Имя пользователя: <input name="user_name" type="text" placeholder="user_name"><br/>
    Пароль: <input name="user_password" type="password" placeholder="user_password"><br/>
    <br>
    <button type="submit">Подтвердить</button>
    <!-- this template tag will avoid 'CSRF verification failed. Request aborted' error. -->
    {% csrf_token %}
</form>
</body>
</html>