<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register Page</title>
</head>
<body>
{% include "./menu_bar.html" %}
<h3>Регистрация пользователя</h3>
<form method="post" action="/user/do_register/">
    {% if error_message %}
          <font color="red">{{ error_message }}</font><br/>
    {% endif %}
    Имя пользователя: <input name="user_name" type="text" placeholder="user_name" /><br/>
    Пароль: <input name="user_password" type="password" placeholder="user_password" /><br/>
    Email: <input name="user_email" type="text" placeholder="user_email" /><br/>
    <br>
    <button type="submit">Зарегистрировать</button>
    <!-- this template tag will avoid 'CSRF verification failed. Request aborted' error. -->
    {% csrf_token %}
</form>
</body>
</html>